<section class="hero is-small is-pumpkin is-bold">
  <div class="hero-body" style="padding-bottom: 0.5rem; padding-top: 0; margin-top: -2rem">
    <div class="container media">
      <figure class="media-left">
        <p class="image" style="width: 120px; height: 120px; padding-top: 2rem;">
          <img class="icon icon-cabbie" src="../img/taxi-compressed.svg" alt="Cabbie Icon">
        </p>
      </figure>
      <div class="media-content" style="margin-top: auto; margin-bottom: auto; margin-left: -1rem;">
        <h1 class="title" style="font-size: 4rem;">
          Cabbie
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns level">
      <div class="column level-item has-text-centered">
        <div class="field">
          <label for="word" class="label">Word</label>
          <div class="control">
            <input class="input" type="text" name="word" id="word">
          </div>
        </div>
      </div>
      <div class="column level-item has-text-centered">
        <div class="field">
          <label for="definition" class="label">Definition</label>
          <div class="control">
            <input class="input" type="text" name="definition" id="definition">
          </div>
        </div>
      </div>
      <div class="column level-item has-text-centered">
        <div class="field">
          <label for="pronunciation" class="label">Pronunciation</label>
          <div class="control">
            <input class="input" type="text" name="pronunciation" id="pronunciation">
          </div>
        </div>
      </div>
    </div>
    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text">Clear</button>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="panel" style="background: white">
      <div class="panel-heading">
        <span>Dictionary</span>
        <div class="select is-small">
          <select>
            <option value="du">German (Dutch)</option>
          </select>
        </div>
        <button class="button is-small modal-button" id="toggleModalBtn">Create New</button>
      </div>
      {{#each dictionaryEntry}}
        <a class="panel-block" style="display: block">
          <div class="f-row justify-space-around">
            <div class="has-text-centered">
              <span class="has-text-centered">{{word}}</span>
            </div>
            <div class="has-text-centered">
              <span class="has-text-centered">{{definition}}</span>
            </div>
            <div class="has-text-centered">
              <span class="has-text-centered">{{pronounciation}}</span>
            </div>
          </div>
        </a>
      {{/each}}
      <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
          Export
        </button>
      </div>
    </nav>
  </div>
</section>
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
