<section class="hero is-small is-pumpkin is-bold">
  <div class="hero-body" style="padding-bottom: 0.5rem; padding-top: 0; margin-top: -2rem">
    <div class="container media">
      <a href="../../">
        <figure class="media-left">
          <p class="image" style="width: 120px; height: 120px; padding-top: 2rem;">
            <img class="icon icon-cabbie" src="/img/taxi-compressed.svg" alt="Cabbie Icon">
          </p>
        </figure>
      </a>
      <div class="media-content" style="margin-top: auto; margin-bottom: auto; margin-left: -1rem;">
        <h1 class="title" style="font-size: 4rem;">
          Cabbie
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <nav class="panel">
    <p class="panel-heading">
      Dictionaries
    </p>
    <p class="panel-tabs">
      <a class="is-active">all</a>
    </p>
    <a class="panel-block modal-button" id="toggleModalBtn" data-target="chooseNameModal">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      <span class="subtitle">Create New</span>
    </a>
    {{#each dictionary}}
      <a class="panel-block" href="./show/{{name}}">
        <span class="panel-icon">
          <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        <span class="subtitle">{{name}}</span>
      </a>
    {{/each}}
  </nav>
</section>
<form action="/newName" method="post">
  <div class="modal modal-fx-fadeInScale" id="chooseNameModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="field">
        <div class="control">
          <input class="input" type="text" name="dictionaryName" id="dictionaryName" placeholder="What language or topic are these definitions for?">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</form>
