<section class="hero is-small is-pumpkin is-bold">
  <div class="hero-body" style="padding-bottom: 0.5rem; padding-top: 0.1rem;">
    <div class="container media">
      <figure class="media-left">
        <p class="image" style="width: 120px; height: 120px;">
          <img class="icon icon-cabbie" src="../img/taxi-compressed.svg" alt="Cabbie Icon">
        </p>
      </figure>
      <div class="media-content" style="margin-top: auto; margin-bottom: auto; margin-left: -1rem;">
        <h1 class="title" style="font-size: 3.5rem;">
          Cabbie
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="image container" style="width: max-content !important;">
      <img data-src="../img/meme.jpg" class="lazy">
    </div>
  </div>
</section>
